.banner {
  background-image: url(https://source.unsplash.com/random/1000x500);
  background-size: cover;
  color: white;
  padding: 120px 0;
}


@media(max-width: 576px) {
  .container {
    width: 350px;
  }
}

@media(max-width: 768px) {
  .container {
    width: 550px;
  }
}

@media(max-width: 992px) {
  .container {
    width: 700px;
  }
}

@media(max-width: 1200px) {
  .container {
    width: 900px;
  }
}
